.share-button {
  z-index: 100;
  background: url("../../assets/buttons/gothic-red-icon-button-2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  outline: none;
  border: none;
  width: 42px;
  height: 42px;
  color: #e0ceb4;
  font-size: 1.5rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.8) 0px 0px 5px);

  &:hover {
    background: url("../../assets/buttons/gothic-red-icon-button-2-hover.webp");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: opacity 350ms ease-in-out;
  }

  &:active {
    background: url("../../assets/buttons/gothic-red-icon-button-2-active.webp");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: opacity 350ms ease-in-out;
  }

  & .share-icon {
    transform-origin: center;
  }

  &:active svg {
    transform: scale(0.8);
  }
}
