.skill-tooltip {
  position: absolute;
  padding: 20px;
  z-index: 1000;
  pointer-events: none;
  max-width: 500px;
  filter: drop-shadow(rgba(0, 0, 0, 1) 0px 2px 8px);

  &::before,
  ::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
  }

  &::before {
    z-index: 0;
    background-image: url("../../assets/gothic-frame-left-top.webp"),
      url("../../assets/gothic-frame-right-top.webp"),
      url("../../assets/gothic-frame-left-bottom.webp"),
      url("../../assets/gothic-frame-right-bottom.webp"),
      url("../../assets/gothic-frame-left-center.webp"),
      url("../../assets/gothic-frame-right-center.webp"),
      url("../../assets/gothic-frame-top-center.webp"),
      url("../../assets/gothic-frame-bottom-center.webp");

    background-repeat: no-repeat;
    // Set the background-size based on the corner image dimensions
    background-size: 86px 86px, 86px 86px, 86px 86px, 86px 86px,
      8px calc(100% - 86px * 2), 8px calc(100% - 86px * 2),
      calc(100% - 86px * 2) 8px, calc(100% - 86px * 2) 8px;

    background-position: left top, right top, left bottom, right bottom,
      6px calc(50% + 0px), calc(100% - 6px) calc(50% - 0px), calc(50% + 0px) 6px,
      calc(50% - 0px) calc(100% - 6px);
  }
}

.tooltip-container {
  position: relative;
  z-index: 0;
  padding: 20px;
  width: 100%;
  left: 5px;

  &::before,
  ::after {
    content: "";
    position: absolute;
    top: -7px;
    left: -11px;
    right: -1px;
    bottom: -7px;
    z-index: -1;
  }

  &::before {
    background: linear-gradient(to top, #171412ef, #171412ef),
      url("../../assets/limestone-texture-pattern.webp") repeat top center;
    background-repeat: repeat;
    filter: sepia(50%) saturate(40%) contrast(118%) brightness(135%);
    // -webkit-filter: sepia(11%) saturate(80%) contrast(115%);
    // -moz-filter: sepia(11%) saturate(80%) contrast(115%);

    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 5px 0px inset;
  }

  box-shadow: rgba(0, 0, 0, 0.9) 0px 3px 10px;
}

.inner-frame-container {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(-25px, -20px);
  filter: drop-shadow(rgba(0, 0, 0, 1) 0px 0px 2px);
  opacity: 0.6;
  // border: 2px solid #4c483c;
  outline: 1px solid #4c483c;
  box-sizing: border-box;
  // mix-blend-mode: screen;

  &::before,
  ::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 1;
  }

  &::before {
    z-index: 0;
    background-image: url("../../assets/gothic-frame-light-left-top.webp"),
      url("../../assets/gothic-frame-light-right-top.webp"),
      url("../../assets/gothic-frame-light-left-bottom.webp"),
      url("../../assets/gothic-frame-light-right-bottom.webp");
    // url("../../assets/gothic-frame-left-center.webp"),
    // url("../../assets/gothic-frame-right-center.webp"),
    // url("../../assets/gothic-frame-top-center.webp"),
    // url("../../assets/gothic-frame-bottom-center.webp");

    background-repeat: no-repeat;
    // Set the background-size based on the corner image dimensions
    background-size: 46px 46px, 46px 46px, 46px 46px, 46px 46px;

    background-position: left top, right top, left bottom, right bottom,
      6px calc(50% + 0px), calc(100% - 6px) calc(50% - 0px), calc(50% + 0px) 6px,
      calc(50% - 0px) calc(100% - 6px);
  }
}

.title-container {
  color: #e6e4d6;
  text-shadow: 1px 1px 3px #000000, -1px -1px 3px #380505;
}

.separator img {
  width: 100%;
  filter: drop-shadow(1px 0px 1px #000000);
}

.allocated-max-points {
  display: flex;
  justify-content: end;
  position: absolute;
  right: 1rem;
  bottom: 1rem;

  & * {
    font-family: "Roboto", sans-serif;
  }
}

.points-not-allocated {
  color: #e60000;
}

.description {
  & p {
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: #b4aa9c;
    filter: drop-shadow(1px 0px 1px #000000);
  }
}

.description-value {
  font-family: "Roboto", sans-serif;
  color: #d9a962;
}

.mana-cost-value {
  color: #eaeb6d;
}

.enchantment-effect {
  text-align: center !important;
  line-height: 3rem !important;
  background-image: url("../../assets/tooltip-banner.webp");
  background-position: center;
  background-size: cover;
  font-family: "OldFenris", sans-serif !important;
  text-transform: uppercase;
  word-spacing: 4px;
  color: #e6dccc !important;
  // width: 100%;
}

.image-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  display: inline-block;
}

.tooltip-frame-image {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Make sure the frame does not interfere with user interactions */
}

.tooltip-spell-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.tooltip-spell-image-clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(25% 0, 100% 25%, 75% 100%, 0 75%);
  z-index: 2;
  pointer-events: none;
}
