@font-face {
  font-family: "OldFenris";
  src: local("OldFenris"), url("fonts/OldFenris.ttf") format("truetype");
}
@font-face {
  font-family: "Diablo";
  src: local("Diablo"), url("fonts/DIABLO_H.TTF") format("truetype");
}
@font-face {
  font-family: "TSGRomulus";
  src: local("TSGRomulus"), url("fonts/TSGRomulus-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("fonts/Roboto-Regular.ttf") format("truetype");
}
