* {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.class-container {
  // position: relative;
  // overflow-x: hidden;
  height: 100dvh;
  // background-image: url("../../assets/lilith-light-bg-small.webp"); /* Lighted*/
  background-image: url("../../assets/lilith-silhouette-bg-small.webp"); /* Silhouette*/
  // background-size: cover;
  background-position: 53% 0%;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.page-header {
  & img {
    width: 30%;
  }
}

.page-title {
  font-size: 2.5rem;
  text-align: center;
  color: #aaaaaa;
  margin-top: -5rem;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  //   border: 2px solid #fff;
  width: 40%;
  margin: 0 auto;
  padding: 1.5rem;
}

.menu li {
  width: 50%;
  margin: 0 auto;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.menu a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

.menu-title {
  font-size: 1.3rem;
  color: #d2c8ae;
}

.menu-item {
  font-size: 2rem;
}
