.index-page-container {
  height: 100dvh;
  //   background-image: url("../../assets/lilith-light-bg-small.webp"); /* Lighted*/
  background-image: url("../../assets/backgrounds/lilith-silhouette-bg-small.webp"); /* Silhouette*/
  background-position: 51.5% 0%;
  background-size: cover;
}

.index-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  & * {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
}

.wp-container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, white 75%),
    url("../../assets/backgrounds/d4_wp_11.webp");
}

.page-header {
  padding-top: 20rem;
  & img {
    width: 50%;
    filter: drop-shadow(rgba(0, 0, 0, 0.9) 0px 0px 14px);
  }
}

.page-title {
  font-size: 2rem;
  text-align: center;
  color: #aaaaaa;
  margin-top: -5rem;

  & h2 {
    background-image: linear-gradient(0deg, #444444, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
  }
}

/* Class Menu Design */
.menu-container {
  position: relative;
  filter: drop-shadow(rgba(0, 0, 0, 0.4) 0px 2px 5px);
  padding: 10rem 7rem;
  z-index: 0;
  margin: -15% auto;
  // width: 50%;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & a {
    display: inline-block;
    text-decoration: none;
    width: 80%;
  }

  &::before,
  ::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
  }

  &::before {
    z-index: 0;
    background-image: url("../../assets/frames/gothic-frame-left-corner-large.webp"),
      url("../../assets/frames/gothic-frame-right-corner-large.webp"),
      url("../../assets/frames/gothic-frame-left-corner-bottom-large.webp"),
      url("../../assets/frames/gothic-frame-right-corner-bottom-large.webp"),
      url("../../assets/frames/gothic-frame-left-side-large.webp"),
      url("../../assets/frames/gothic-frame-right-side-large.webp"),
      url("../../assets/frames/gothic-skull-frame-center.webp"),
      url("../../assets/frames/gothic-frame-bottom-center.webp");

    background-repeat: no-repeat;
    // Set the background-size based on the corner image dimensions
    background-size: 145px 163px, 145px 163px, 145px 163px, 145px 163px,
      8px calc(100% - 86px * 2), 8px calc(100% - 86px * 2),
      calc(100% - 95px * 2) 115px, calc(100% - 86px * 2) 8px;

    background-position: left top, right top, left bottom, right bottom,
      6px calc(50% + 0px), calc(100% - 6px) calc(50% - 0px), calc(50% + 0px) 6px,
      calc(50% - 0px) calc(100% - 6px);
  }

  &::after {
  }

  // & .skull-frame {
  //   position: relative;
  //   z-index: 0;
  //   width: 100%;

  //   &::before,
  //   ::after {
  //     content: "";
  //     position: absolute;
  //     top: 0px;
  //     left: 0px;
  //     right: 0px;
  //     bottom: 0px;
  //     z-index: 0;
  //   }

  //   &::before {
  //     width: 100%;
  //     z-index: 0;
  //     background-image: url("../../assets/frames/gothic-skull-frame-center.webp");
  //     background-repeat: no-repeat;
  //     top: -90px;
  //   }
  // }

  & .bg-container {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/backgrounds/stone-texture-dark-coarse.webp");
    background-repeat: repeat;
  }
}
