.footer {
  position: relative;
  height: 40px;
  background-color: #333; /* Fallback background color */
  background-image: url("../../assets/frames/footer-pattern.webp");
  background-repeat: repeat-x;
  box-shadow: rgba(0, 0, 0, 0.85) 0px -5px 10px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 252px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  //   &::before {
  //     left: 0;
  //     background-image: url("../../assets/footer-left.webp");
  //   }

  //   &::after {
  //     right: 0;
  //     background-image: url("../../assets/footer-right.webp");
  //   }
}
