.search-container {
  position: absolute;
  top: 40px;
  right: 100px;
  z-index: 100;
}

.search-input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}
