.skill-tree {
}

.link {
  fill: #fff;
  stroke: #c4c4c4 !important; // Custom link color
  stroke-width: 10px; // Wider links
  stroke-opacity: 0.8;
  stroke-linecap: square;
  transition: all 0.5s ease; // Basic animation
}

.link:hover {
  stroke: #eb0000 !important;
}

.node-text {
  fill: #fff;
}
